<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %}
    <link href="{% static 'General/base.css' %}" rel="stylesheet"/>
    <title>Snoze | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- navigation bar and side navigation bar -->

    <!-- navigation bar ends here -->
    {% block body %}{% endblock %}
  </body>
</html>
